.App {
  text-align: center;
}



.App-header {
  background-image: url(https://i.pinimg.com/originals/89/b5/0d/89b50df91b22de344c8d90ee25b3c13a.jpg);
  background-attachment: center;
  background-repeat:repeat-x;
  opacity: 2;
  height: 500%;
  padding: 20px;
  color: goldenrod;
}

.App-intro {  
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
