.App {
  text-align: center;
}



.App-header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEOZ95xNls46-Z2MtDvWNPdtJB5IabQj6ABYZe7XJYIpwL5VzI);
  background-attachment: fixed;
  height: 500%;
  padding: 20px;
  color: orangered;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
