.formWrapper{
    margin: auto;
 align-self: center
}

.noteButton{
    border: none;
    margin: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: orange;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteButton:hover{
    background-color: pink;
    color:black;
    transition: 0.2s ease-out;
}

.noteInput{
    width: 800px;
    min-width: 800px;
    font-size: 1.3em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Droid Sans', sans-serif;
    background-color: pink;
    color:black;
    transition: 0.2s ease-out;
    display:flex;
    justify-content: center;
    position: relative;
    left:23%;
    
}

.noteInput:focus{
    background-color: pink;
    color: #111;
    transition: 0.2s ease-in;
    display:flex;
    align-items: center;
}