.note {
  padding:20px 20px 20px 20px;
  height: 100%; 
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4em;
  color:#154360;
  background-color: white; 
  border-radius: 3px;
  box-shadow: 43x 3px 2px white;
  opacity: 1;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
    height:100px;
    width:800px; 
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;

    }

.noteContent{
  float:left;
  padding-right: 70px;
  padding-bottom: 50px;
  display: flex;
  text-align: center;
}

.closeBtn {
    color:black;
    font-weight: bold;
    float: right;
    cursor: pointer; 
    font-size: 1.3em;
    justify-content:flex-end;
}

.closeBtn:hover {
    color: #AC2500;
    float: right;
}

.btn {
  float: right;
}

.notesWrapper{
  text-align: center;
  opacity: 2;
  height: 500%;
  padding: 20px;
  color: black;
}